# Project structure ignored
*.pdf

# Python
*__pycache__
*.pyc
*.ipynb_checkpoints

# Jupyter Notebook
*.ipynb_checkpoints
*training_checkpoints

# Vim
*.swp
*.swo

# txt files
*.txt

# Weights
*.hdf5
